{% extends 'base.html.twig' %}

{% block title %}
    Portfolio Morales Raphaël
{% endblock %}

{% block body %}
    <main>

    </main>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('Accueil') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
